/* === Home Page === */

body {
    font-family: 'Amatic SC', cursive;
    color: #333;
    margin: 0;
}

#logo {
    border-bottom: 2px solid;
    margin-left: 15px;
}

h1,
p {
    color: #333;
    background-color: transparent;
    display: flex;

}

h1 {
    font-size: 50px;
    margin-top: 20px;
}

p {
    font-size: 35px;
    justify-content: center;
}

a {
    font-family: 'Amatic SC', cursive;
    color: black;
    background-color: transparent;
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
}

header {
    display: flex;
    justify-content: space-around;
    height: 115px;
    background-color: #BFE0E2;
}


li {
    float: left;
    padding: 1em;
    list-style: none;
}

.menu {
    font-size: 25px;
}

.highlight {
    background-color: #f4bf42;
    border-radius: 5px;
}

#intro {
    margin: 20px auto; 
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

#placeholder {
    height: 700px;
    margin: 30px auto;
    display: block; 
}


/* === image slider === */


#slider {
    position: relative;
}

.MS-content {
    padding: 0;
    background-color: #f4bf42;
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 8%;
}

.item {
    display: inline-block;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    height: 100%;
    white-space: normal;
}

.MS-controls button {
    position: absolute;
    top: 70px;
    background-color: white;
    border-style: none;
}

.MS-controls .MS-left {
    left: 100px;
}

.MS-controls .MS-right {
    right: 100px;
}

.item img {
    height: 120px;
    padding: 15px;
    margin: 0;
}


/* === Shop Now Page === */

label {
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-size: 40px;
    background-color: darkseagreen;
    border-radius: 5px;
    border: 2px dashed black;
    align-self: center;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 900px;
    position: relative;
    margin: auto;
}


#order {
    color: white;
    background-color: #f4bf42;
    padding: 5px;
    border-radius: 5px;
    transition: 0.5s background-color ease-in-out, 0.5s color ease-in-out;
    outline: none;
    width: 100px;
    margin: 15px;
}

.menu:hover {
    background-color: #f4bf42;
    transition: 1.2s background-color ease-in-out, 1.2s color ease-in-out;
    border-radius: 5px;
}

button,
input,
select {
    font-size: 16px;
}

.cart {
    background-color: #f4bf42;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-size: 30px;
}

.item-row {
    display: flex;
    width: 700px;
    height: 30px;
    padding: 30px;
}

span {
    text-align: right;
}

span.item-type {
    font-weight: bold;
    color: red;
}

span.quantity {
    width: 30px;
    color: black;
}

span.price {
    width: 300px;
    color: black;
}

#checkout {
    font-family: 'Amatic SC', cursive;
    background-color: dodgerblue;
    color: black;
    font-weight: bold;
    font-size: 30px;
    width: 200px;
    align-self: center;
    border-radius: 5px;
    margin: 40px auto;
}



/* === About & Contact Page === */

#about {
    text-align: center;
}

#welcome {
    margin: 80px 35%; 
}

#portrait {
    height: 300px;
}


/* === 404 Page === */

.oops {
    font-size: 90px;
    text-align: center;
}

.sprite {
    height: 500px;
    display: block;
    background: url(images/charlie_brown.png) no-repeat 0 0;
    background-size: 6500px 100%;
    width: 500px;
    position: absolute;
    top: 250px;
    left: 35%;
    animation: good-grief 3s steps(13) infinite;
}

@keyframes good-grief {
    0% {
        background-position: 0px 0px;
    }

    100% {
        background-position: -6500px 0px;
    }
}


/* === MediaQuery === */

@media (max-width 1277px) {
     

    
}
