/* === Home Page === */

body {
    font-family: 'Amatic SC', cursive;
    color: #333;
    margin: 0;
}

#logo {
    border-bottom: 2px solid;
}

h1,
p {
    color: #333;
    background-color: transparent;
    display: flex;

}

h1 {
    font-size: 50px;
    margin-top: 20px;
}

p {
    font-size: 35px;
    justify-content: center;
}

a {
    font-family: 'Amatic SC', cursive;
    color: black;
    background-color: transparent;
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
}

header {
    display: flex;
    justify-content: space-around;
    height: 115px;
    background-color: #BFE0E2;
}


li {
    float: left;
    padding: 1em;
    list-style: none;
}

.menu {
    font-size: 25px;
}

.highlight {
    background-color: #f4bf42;
    border-radius: 5px;
}

#intro {
    margin: 20px auto;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

#placeholder {
    height: 700px;
    margin: 30px auto;
    display: block;
}


/* === image slider === */


#slider {
    position: relative;

}

.MS-content {
    padding: 0;
    background-color: #FFD7C6;
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 8%;
}

.item {
    display: inline-block;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    height: 100%;
    white-space: normal;
}

.MS-controls button {
    position: absolute;
    top: 70px;
    background-color: white;
    border-style: none;
}

.MS-controls .MS-left {
    left: 100px;
}

.MS-controls .MS-right {
    right: 100px;
}

.item img {
    height: 120px;
    padding: 5px;
    margin: 0;
    display: block;
    background-color: white;
    border: 5px solid #FFD7C6;
}

.mobile {
    visibility: hidden;
    display: flex;
    flex: wrap;
    position: absolute;
    top: 400px;
    width: 100%;
}

.mob {
    display: inline-block;
}


/* === Shop Page === */

label {
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
}
p {
    font-size: 40px;
    background-color: darkseagreen;
    border-radius: 5px;
    border: 2px dashed black;
    align-self: center;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 900px;
    position: relative;
    margin: auto;
    border: solid 1px;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 5px 10px 8px #888888;
}

.cart-handler {
    border-radius: 5px;
    margin: 5px 5px auto auto;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    border: 1px solid black;
    box-shadow: 3px 3px 3px #888888;
    cursor: pointer;
}

#order {
    background-color: #f4bf42;
    padding: 5px;
    border-radius: 5px;
    width: 100px;
    margin: 15px;
    cursor: pointer;
}

.menu:hover {
    background-color: #f4bf42;
    transition: 1.2s background-color ease-in-out, 1.2s color ease-in-out;
    border-radius: 5px;
}

button,
input,
select {
    font-size: 16px;
}

.cart {
    background-color: #f4bf42;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-size: 30px;
}

.item-row {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}

span {
    text-align: right;
}

span.item-type,
span.size {
    font-weight: bold;
    color: red;
}

span.quantity {
    width: 30px;
    color: black;
}

span.price {
    width: 300px;
    color: black;
}

#checkout {
    font-family: 'Amatic SC', cursive;
    background-color: dodgerblue;
    color: black;
    font-weight: bold;
    font-size: 30px;
    width: 200px;
    align-self: center;
    border-radius: 5px;
    margin: 40px auto;
}



/* === About & Contact Page === */

#about {
    text-align: center;
    margin: 0 30px;
}

#welcome {
    margin: 80px 35%;
}

#portrait {
    height: 300px;
}


/* === 404 Page === */

#oops {
    font-size: 90px;
    text-align: center;
}

.sprite {
    height: 100vmin;
    display: block;
    background: url(images/charlie_brown.png);
    background-size: 1300vmin 100%;
    width: 100vmin;
    margin: 0 auto;
    animation: good-grief 3s steps(13) infinite;
}

@keyframes good-grief {
    0% {
        background-position: 0px 0px;
    }

    100% {
        background-position: -1300vmin 0px;
    }
}


/* === MediaQuery === */


@media (max-width: 1224px) {

    header {
        height: auto;
        justify-content: center;
    }

    .MS-controls .MS-left {
        left: 30px;
    }

    .MS-controls .MS-right {
        right: 30px;

    }

    #placeholder {
        height: auto;
        width: 100%;
        margin: 30px auto;
        display: block;
    }

    form {
        width: 80%;
    }

    span.quantity {
        width: auto;
    }

    span.price {
        width: auto;
    }

    #oops {
        font-size: 45px;
    }
}

@media (max-width: 768px) {

    a,
    label,
    span.item-type,
    span.size,
    #checkout,
    #logo,
    h2 {
        font-weight: normal;
    }

    header {
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    .menu {
        font-size: 20px;
    }


    h1,
    p,
    figcaption {
        display: inline-block;
        text-align: center;

    }

    figcaption {
        font-size: 28px;
        margin: 0 10px;
    }

    #portrait {
        display: block;
        margin: 0 auto;
    }


    #intro {
        margin: 20px 10px;
    }

    #welcome {
        margin: 80px 5%;
    }

    #oops {
        font-size: 45px;
        padding: 20px;
    }


    .no-mobile {
        visibility: hidden;
    }


    .mobile {
        visibility: visible;
        flex-direction: column;
        top: 300px;
    }

    .flex-item {
        flex: 1 1 auto;
    }

    .mob {
        width: 100%;
        margin: auto;
    }
}

@media only screen and (min-width: 768px) {


    #order {
        margin-left: 250px;
    }

    .sprite {
        width: 50vmin;
        height: 50vmin;
        background-size: 650vmin 100%;
    }

    @keyframes good-grief {
        0% {
            background-position: 0px 0px;
        }

        100% {
            background-position: -650vmin 0px;
        }
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 1) {

    #form-page {
        display: flex;
        flex-direction: column;
    }

    #form-nav {
        margin: 0 auto;
    }

    #form-ul {
        padding-left: 0;
    }

    p {
        margin: 0 auto;
    }
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {

    #logo {
        font-size: 30px;
    }

    .menu,
    .shop {
        font-size: 15px;
        padding: 5px;
    }

    #order {
        margin: 0 15px;
    }

    .social {
        height: 15px;
    }

    .mobile {
        top: 200px;
    }

    #form-page {
        display: flex;
        flex-direction: column;
    }

    #form-nav {
        margin: 0 auto;
    }

    #form-ul {
        padding-left: 0;
    }

    #welcome {
        margin: 5%;
        font-size: 30px;
    }

    p {
        margin: 0 3%;
        font-size: 25px;
    }

    #portrait {
        height: 200px;
    }
}
